<?xml version="1.0" encoding="UTF-8"?>
<!-- see: https://logging.apache.org/log4j/2.x/manual/layouts.html -->
<Configuration>
    <Properties>
        <Property name="filename">akka-p2p.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd @ HH:mm:ss.SSS} %highlight{%5p | %msg}{INFO=brightwhite,TRACE=green}%n%ex{full}"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout pattern="%d{yyyy-MM-dd @ HH:mm:ss.SSS} %5p | %msg%n%ex{full}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>